pyspark==3.5.1
dask[complete]==2025.1.0
pandas==2.3.3
pyarrow==21.0.0
fastparquet
matplotlib==3.10.6
seaborn==0.13.2
plotly==6.3.0
findspark==2.0.1
boto3
awscli
scikit-learn
jupyter
jupyterlab
ipykernel